<%= container(tag: :div) do %>
  <%= cell(CardCell, class: "CardCell") %>
  <%= cell(CardCell, class: "CardCell") %>
  <%= cell(CardCell, class: "CardCell") %>
  <%= cell(CardCell, class: "CardCell") %>
  <%= cell(CardCell, class: "CardCell") %>
<% end %>
